<div class="details">
  <div class="details__wrapper">
    <div class="details__title">{{item.title}}</div>
    <div *ngIf="logged" class="details__iconsWrapper">
      <a routerLink='/post/{{item.id}}/edit'><i class="fa fa-pencil fa-2x details__spacing" aria-hidden="true"></i></a>
      <i (click)="deletePost()" class="fa fa-trash-o fa-2x details__spacing" aria-hidden="true"></i>
    </div>
  </div>
  <div class="details__info">Published by {{item.author}} on {{date}} at {{hour}}</div>
  <div class="details__content">{{item.content}}</div>
</div>
