.navbar {
  padding: 0 30px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lime;
}

.navbar__icon {
  margin-right: 20px;
}

.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__link {
  cursor: pointer;
}

.navbar__right {
  display: flex;
}
